<div class="recaptcha">
    <div class="content">
        <div class="logo"></div>
        <div class="title">Проверка...</div>
        <div class="descript">Бип буп. Буп бип?</div>
        <div id="recaptcha" class="set-scale"></div>
    </div>
</div>